<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Critical,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="SdrConfigExample.e2e" type="System.Diagnostics.XmlWriterTraceListener"
            name="sdt">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="All">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="c:\users\david\source\repos\custom-mouse\custommouseservice\app_messages.svclog"
        type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
        name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <system.serviceModel>
        <bindings />
        <diagnostics performanceCounters="Default">
            <messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
                logMessagesAtTransportLevel="true" />
            <endToEndTracing activityTracing="false" messageFlowTracing="false" />
        </diagnostics>
        <behaviors>
            <serviceBehaviors>
                <behavior name="CustomMouseServiceNetPipeBehaviour">
                    <serviceDebug includeExceptionDetailInFaults="true" />
                    <serviceMetadata />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="CustomMouseServiceNetPipeBehaviour"
                name="CustomMouseService.CustomMousePipeService">
                <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration=""
                    name="CustomMouseServiceNetPipeEndpoint" contract="CustomMouseService.ICustomMousePipeService"
                    listenUriMode="Explicit" />
                <endpoint address="mex" binding="mexNamedPipeBinding" bindingConfiguration=""
                    name="CustomMouseServiceMexPipeEndpoint" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://localhost/CustomMouseService" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
